body{
	top:  0px!important;
	margin: 0px!important;
	padding: 0px!important;
	border: 0px!important;
	position: absolute!important;
	width: 100%!important;
	height: 100%!important;
}


header{
	top: 0px;
	left: 0px;
	width: 100%;
	height: 150px;
	position: absolute;
	background-color: #A18BCD;
}

#botones{
	width: 300px;
	margin-top: 180px;
	margin-left: auto;
	margin-right: auto;
	top: 50%;
}

label{
	line-height: normal;
	margin-left: 0px;
}

.form-horizontal .control-label{
	text-align: left!important;
	padding-left: 10px;
}

#bodyModal{
	padding-bottom: 0px;
}
#footerModal{
	margin-top: 0px;
}

#equipo1 {
  border-color: #ebccd1;
}

#equipo1 > .panel-heading {
  color: #FFFFFF;
  background-color: #CD482E;
  border-color: #CD482E;
}

#equipo1 > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #ebccd1;
}

#equipo1 > .panel-heading > .dropdown .caret {
  border-color: #CD482E transparent;
}

#equipo1 > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #CD482E;
}

#myModal > div{
	min-width: 740px;
	width: 65%;
}

@media (max-width: 770px){
	#myModal > div{
		min-width: 0px;
		width: 100%;
	}
}

@media (max-width: 395px){
	.nav-tabs{
		font-size: 15px;
	}
}

#inputTipo{
	font-size: .8em;
	margin-top: 10px;
	min-width: 138px;
}

@media (max-width: 767px){
	#inputTipo{
		clear: both;
	}
}

.repMts{
	float: right;
	white-space:nowrap;
}

@media (max-width: 369px){
	.repMts{
		float: none!important;
	}
}